* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1220px;
  padding: 0px 10px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 738px;
    padding: 0px 30px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 546px;
    padding: 0px 35px;
  }
}
